package io.prometheus.client.scala

import io.prometheus.client.scala.internal.histogram._

object Histogram {
  def apply(name: String)(implicit hb: HistogramBuckets): Histogram0 = new Histogram0(name)

  [#
  def apply(name: String, [#labelName1: String#])(implicit hb: HistogramBuckets): Histogram1 = new Histogram1(name)(List([#labelName1#]))
  #
  ]
}
