package org.lyranthe.prometheus.client.internal.counter

private[client] case class UnlabelledCounter(name: String, help: String) {
  def labels(): Counter0 = Counter0(name, help)

  [#
  def labels([#labelName1: String#]): Counter1 = Counter1(name, help, List([#labelName1#]))
  #
  ]
}
