package org.lyranthe.prometheus.client.internal.gauge

case class UnlabelledGauge(name: String, help: String) {
  def labels(): Gauge0 = Gauge0(name, help)

  [#
  def labels([#labelName1: String#]): Gauge1 = Gauge1(name, help, List([#labelName1#]))
  #
  ]
}
