package org.lyranthe.prometheus.client.internal.counter

import org.lyranthe.prometheus.client.internal.{LabelName, MetricName}

private[client] case class UnlabelledCounter(name: MetricName, help: String) {
  def labels(): Counter0 = Counter0(name, help)

  [#
  def labels([#labelName1: LabelName#]): Counter1 = Counter1(name, help, List([#labelName1#]))
  #
  ]
}
