package org.lyranthe.prometheus.client.gauge

import org.lyranthe.prometheus.client._

case class UnlabelledGauge private[client] (name: MetricName, help: String) {
  def labels(): Gauge0 = Gauge0(name, help)

  [#
  def labels([#labelName1: LabelName#]): Gauge1 = Gauge1(name, help, List([#labelName1#]))
  #
  ]
}
