package org.lyranthe.prometheus.client

import histogram._

case class Histogram(name: MetricName, help: String, buckets: List[Double]) {
  def labels(): Histogram0 = Histogram0(name, help, buckets)

  [#
  def labels([#labelName1: LabelName#]): Histogram1 = Histogram1(name, help, List([#labelName1#]), buckets)
  #
  ]
}

object Histogram {
  def apply(name: MetricName, help: String)(implicit hb: HistogramBuckets): Histogram =
    Histogram(name, help, hb.buckets)
}
